numpy==1.20.3
torch==1.9.0
spacy==3.1.1
transformers==4.9.1
sentencepiece==0.1.96
tqdm==4.32.2
neuralcoref==4.0
argparse
scikit-learn
pytest
sentence-transformers==2.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
