numpy
torch
spacy
transformers
sentencepiece
Cython
tqdm
argparse
scikit-learn
Flask
flask-cors
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
