numpy
torch==1.7.0
spacy==2.3.0
transformers==2.2.2
Cython
tqdm
neuralcoref==4.0
argparse
scikit-learn
bert-extractive-summarizer
Flask
flask-cors
nltk
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz