Cython
numpy
torch
spacy
spacy-experimental
transformers
sentencepiece
sentence-transformers
tqdm
argparse
scikit-learn
Flask
flask-cors
werkzeug
nltk
bumpversion
pytest
gunicorn
gevent
flask-limiter
Flask-Caching
https://github.com/explosion/spacy-experimental/releases/download/v0.6.0/en_coreference_web_trf-3.4.0a0-py3-none-any.whl
