numpy
torch
spacy
spacy-experimental
transformers
sentencepiece
tqdm
argparse
scikit-learn
pytest
sentence-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
https://github.com/explosion/spacy-experimental/releases/download/v0.6.0/en_coreference_web_trf-3.4.0a0-py3-none-any.whl